<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GmailScript Automation Test">

<test name="Signin Test">
    <classes>
        <class name="testcases.SigninTestCase"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Send Receive Email Test">
    <classes>
        <class name="testcases.SREmailTestCase"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="SignOut Test">
    <classes>
        <class name="testcases.SignOutTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
